body{
    margin: 0;
    background-color: #f2f2f2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #333333;
}

header {
    background-color: #f40202e4;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

header p {
    margin-top: 5px;
}

main{
    width: 400px;
    margin: 60px auto;
}
 
.login{
    background-color: white;
    padding: 30px;
    border: 1px solid #dddddd;
   border-radius: 20px;
}

.login h2{
    text-align: center;
    color: #f40202e4;
    margin-top: 0;
}

.descricao{
    text-align: center;
    color: #777777;
    margin-bottom: 25px;
}

label{
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input{
    width: 100%;
    padding: 10px;
    border-radius: 9px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button{
    width: 100%;
    margin-top: 25px;
    padding: 12px;
    border-radius: 9px;
    background-color: #f40202e4;
    color: #dddddd;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background-color: #dddddd;
    color: #f40202e4;
}

.cadastro{
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
    color: #777777;
}

.cadastro a{
    color:#f40202e4
}

footer {
    text-align: center;
    padding: 15px;
    font-size: small;
    color: #777777;
}
